<div class="popover--user">
  <div class="popover--user--title text-center mb-4">
    <div class="popover--user--desc text-lg">{{ currentUser?.firstname }} {{ currentUser?.lastname }}</div>
    <div class="popover--user--subDesc text-sm">{{ currentUser?.email }}</div>
    <p-badge badgeSize="small" value="Admin"/>
  </div>
  <div class="popover--user--list">
    <div class="popover--user--list--row">
      <ng-icon name="hugeLogout03"/>
      <div (click)="logout()">{{ 'logout' | translate }}</div>
    </div>
  </div>
</div>
